.form-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: "Arial", sans-serif;
    font-size: 1.5rem;
}

.game-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input,
select {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus,
select:focus {
    outline: none;
}

/* .submit-button {
    padding: 1rem 1.5rem;
    background-color: #FFC107;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 300ms ease;
} */

/* .submit-button:hover {
    background-color: #FFC107;
    filter: drop-shadow(0 0 2em #FFC107);
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 3px #FFC107;
} */

